<style>
  .btn-tertiary{
  color: #000000 !important;
    background-color: #ffffff !important; 
    border-color: #ffffff !important;]
  }
</style>
<footer class="footer pb-6 bg-primary text-white pt-9 mt-n9">
  <div class="container">
    <div class="row mt-6">
      <div class="col-md-4">
        <p>
          <strong>Art Currently</strong> is an online publication that explores
          contemporary art culture. We cover all things art
          <em>- from exhibitions, people, trends and events -</em> to bring you
          into the ever-changing art world, and into the minds of those who are
          shaping it.
        </p>
        <ul class="social-buttons mb-5 mb-lg-0">
          <li>
            <a
              href="https://twitter.com/artcurrently"
              aria-label="twitter social link"
              class="icon-white me-2"
            >
              <span class="fab fa-twitter"></span>
            </a>
          </li>
          <li>
            <a
              href="https://instagram.com/artcurrently"
              aria-label="instagram social link"
              class="icon-white me-2"
            >
              <span class="fab fa-instagram"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-5 mb-lg-0">
        <h3 class="h5">Art Currently</h3>
        <ul class="footer-links mt-2">
          <li>
            <a target="_blank" href="https://artcurrently.com/blog">Blog</a>
          </li>
          <li>
            <a target="_blank" href="./careers.html"
              >Careers</a
            >
          </li>
          <li>
            <a target="_blank" href="https://artcurrently.com/about"
              >About Us</a
            >
          </li>
          <li>
            <a target="_blank" href="https://artcurrently.com/contact"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-5 mb-lg-0">
        <h3 class="h5">Other</h3>
        <ul class="footer-links mt-2">
          <li>
            <a href="https://artcurrently.com/archives" target="_blank"
              >Archives</a
            >
          </li>
          <li>
            <a target="_blank" href="https://artcurrently.com/licensing"
              >License</a
            >
          </li>
          <li>
            <a target="_blank" href="https://artcurrently.com/support"
              >Support</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mb-5 mb-lg-0">
        <h3 class="h5">Join our Mailing List</h3>
        <p class="text-muted font-small">
          We write rarely, but only the best content.
        </p>
        <form>
          <div class="form-row mb-2">
            <div class="col-12">
              <input
                type="email"
                class="form-control mb-2"
                placeholder="example@gmail.com"
                name="email"
                aria-label="Subscribe form"
                id="exampleInputEmail3"
                required
              />
            </div>
            <div class="col-12 d-grid">
              <button
                type="submit"
                class="btn btn-tertiary"
                data-loading-text="Sending"
              >
                <span>Subscribe</span>
              </button>
            </div>
          </div>
        </form>
        <small class="text-muted font-small"
          >We’ll never share your details. See our
          <a class="text-white" href="/policy.html">Privacy Policy</a>
        </small>
      </div>
    </div>
    <hr class="my-5" />
    <div class="row">
      <div class="col mb-md-0">
        <a
          href="https://artcurrently.com"
          target="_blank"
          class="d-flex justify-content-center"
        >
          <img
            src="/static/assets/img/themesberg.svg"
            height="25"
            class="mb-3"
            alt="Art Currently Logo"
          />
        </a>
        <div
          class="d-flex text-center justify-content-center align-items-center"
          role="contentinfo"
        >
          <p class="fw-normal font-small mb-0">
            <i class="fa fa-copyright" aria-hidden="true"></i>2022 - coded by <a href"https://xblainm.github.io">Blain Muema</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
