{% extends "layouts/base.html" %} {% block title %} Contact Us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main>
  <!--{% include 'includes/preloader.html' %}-->

  <!-- Hero -->
  <section class="section section-header pb-5 bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-8 text-center">
          <h1 class="display-2 mb-3">Get in Touch</h1>
          <p class="lead">
            We are always looking for New stories and feedback. If you are
            interested in writing for <strong>Art Currently</strong>, or for any
            other inquiries, give us a shout at
            <a href="mailto:contact.artcurrently@gmail.com">contact.artcurrently@gmail.com</a>.
          </p>
        </div>
      </div>
    </div>

    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
      <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
        style="enable-background: new 0 0 1920 43.4" xml:space="preserve">
        <path
          d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z">
        </path>
      </svg>
    </figure>
  </section>

  <!-- Section 
  <div class="section py-0">
    <div class="container mt-n10">
      <div class="row">
        <div class="col-12">
          <iframe
            class="map rounded"
            id="gmap_canvas"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.6935527412!2d-74.11977387352724!3d40.697479565699915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2ske!4v1663048647391!5m2!1sen!2ske"
            width="600"
            height="450"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>-->

  <!-- Section -->
  <section class="section section-lg pt-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <!-- Contact Card -->
          <div class="card border-0 p-2 p-md-3 p-lg-5">
            <div class="card-header bg-white border-0 text-center">
              <!--<h2>Want to take part in something artistic?</h2>-->
              <p class="lead">Join our team of creative professionals, including artists &amp; designers, editors,
                writers, and developers.
              </p>
            </div>
            <div class="card-body px-0 pt-0">
              <form action="#">
                <!-- Form -->
                <div class="mb-4">
                  <label for="name">Your Name</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                    <input type="text" class="form-control" placeholder="e.g. Anna Jones" id="name" required />
                  </div>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="mb-4">
                  <label for="email">Your Email</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                    <input type="email" class="form-control" placeholder="example@gmail.com" id="email" required />
                  </div>
                </div>
                <!-- End of Form -->
                <div class="mb-4">
                  <label for="message">Your Message</label>
                  <textarea placeholder="Write your message here" class="form-control" id="message" rows="4"
                    required></textarea>
                </div>
                <!-- End of Form -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-secondary">
                    Send message
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- End of Contact Card -->
        </div>
      </div>
    </div>
  </section>
  <!-- End of section -->
</main>

{% include 'includes/footer.html' %} {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {%endblock javascripts %}