{% extends "layouts/base.html" %} {% block title %}Home{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  @media (min-width: 992px) {
    .mt-lg-n11 {
      margin-top: -20rem !important;
    }

    .mt-n8 {
      margin-top: -20rem !important;
    }
  }

  .section-lg {
    padding-bottom: 0rem !important;
  }
</style>

<main>
  <!--{% include 'includes/preloader.html' %}-->

  <!-- Hero -->
  <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary"> </section>
  <!--end of hero section-->

  <!--carousel section-->
  <section class="section section-lg pt-1">
    <div class="row">
      <div class="col-6 col-lg-6 col-md-4 col-sm-2">
        <div class="container mt-n8 mt-lg-n11 z-2">
          <div id="carousel" class="glide--ltr glide--carousel glide--swipeable" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item">
                <img src="/static/assets/img/carousel/image-1.jpg" class="d-block w-100" alt="slide1" />
                <div class="carousel-caption d-none d-md-block">
                  <h5>First Title</h5>
                </div>
              </div>

              <div class="carousel-item">
                <img src="/static/assets/img/carousel/image-2.jpg" class="d-block w-100" alt="slide2" />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second Title</h5>
                </div>
              </div>

              <div class="carousel-item active">
                <img src="/static/assets/img/carousel/image-3.jpg" class="d-block w-100" alt="slide3" />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third Title</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-4 col-sm-2">
        <div class="container mt-n8 mt-lg-n11 z-2">
          <div id="carousel" class="glide--ltr glide--carousel glide--swipeable" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/assets/img/carousel/image-1.jpg" class="d-block w-100" alt="slide1" />
                <div class="carousel-caption d-none d-md-block">
                  <h5>First Title</h5>
                </div>
              </div>

              <div class="carousel-item">
                <img src="/static/assets/img/carousel/image-2.jpg" class="d-block w-100" alt="slide2" />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second Title</h5>
                </div>
              </div>

              <div class="carousel-item">
                <img src="/static/assets/img/carousel/image-3.jpg" class="d-block w-100" alt="slide3" />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third Title</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!--end of carousel-->

  <!--Featured stories section-->
  <section class="section section-md pt-5">
    <div class="container">
      <h1 class="display-3">Featured Stories</h1>
      <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-5 mb-lg-0">
          <div class="card border-light">
            <img src="/static/assets/img/blog/image-1.jpg" class="card-img-top" alt="image" />
            <div class="card-body">
              <div class="media d-flex align-items-center justify-content-between">
                <div class="post-group">
                  <a href="./profile.html" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="23k followers">
                    Jo J. Moore
                  </a>
                </div>
                <div class="d-flex align-items-center">
                  <span class="small"><i class="far fa-calendar-alt mr-2"></i>25 September
                    2022</span>
                </div>
              </div>
              <h5 class="card-title mt-4">A Look at the MET</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4 mb-5 mb-lg-0">
          <div class="card border-light">
            <img src="/static/assets/img/blog/image-2.jpg" class="card-img-top" alt="image" />
            <div class="card-body">
              <div class="media d-flex align-items-center justify-content-between">
                <div class="post-group">
                  <a href="./profile.html" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="50k followers">
                    Anna Smith
                  </a>
                </div>
                <div class="d-flex align-items-center">
                  <span class="small"><i class="far fa-calendar-alt mr-2"></i>15 September
                    2022</span>
                </div>
              </div>
              <h5 class="card-title mt-4">We partnered up with Ildiesign</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4 mb-5 mb-lg-0">
          <div class="card border-light">
            <img src="/static/assets/img/blog/image-3.jpg" class="card-img-top" alt="image" />
            <div class="card-body">
              <div class="media d-flex align-items-center justify-content-between">
                <div class="post-group">
                  <a href="./profile.html" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="23k followers">
                    Ariba Tamara
                  </a>
                </div>
                <div class="d-flex align-items-center">
                  <span class="small"><i class="far fa-calendar-alt mr-2"></i>5 September
                    2022</span>
                </div>
              </div>
              <h5 class="card-title mt-4">New Paintings by NY artist</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of featured section-->

  <!--culture section-->
  <section class="section section-md bg-gray-200">
    <div class="container">
      <h1 class="display-3">Artist Interviews</h1>
      <div class="row">
        <div class="col-12 col-xl-4 mb-5 mb-lg-0">
          <div class="card border-light p-2 p-md-4">
            <div class="card-body py-4 px-0">
              <a href="./single-post-left-sidebar.html">
                <img src="/static/assets/img/blog/image-1.jpg" class="card-img-top" alt="image" />
                <h4 class="my-4">Maggi Hambling
                </h4>
              </a>
              <p class="card-text mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odit consequuntur non omnis quis
                delectus eius, tempore ipsam quia esse aliquid placeat eos cum temporibus tenetur provident voluptas
                ipsum consectetur.
              </p>
            </div>
            <div class="card-footer bg-white pt-0 px-0">
              <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                <div class="post-details mb-3 mb-lg-0">
                  <button class="btn btn-sm btn-primary animate-hover mr-2">
                    <span class="fas fa-arrow-up mr-2 animate-up-2"></span>
                    4
                  </button>
                  <button class="btn btn-sm btn-danger animate-hover">
                    <span class="fas fa-arrow-down mr-2 animate-down-2"></span>
                    1
                  </button>
                </div>
                <div class="post-meta">
                  <button class="btn mr-3 btn-link text-primary">
                    <i class="fas fa-share mr-2"></i>Share
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-5 mb-lg-0">
          <div class="card border-light p-2 p-md-4">
            <div class="card-body py-4 px-0">
              <a href="./single-post-left-sidebar.html">
                <img src="/static/assets/img/blog/image-2.jpg" class="card-img-top" alt="image" />
                <h4 class="my-4">
                  List of public corporations by market capitalization
                </h4>
              </a>
              <p class="card-text mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed dignissimos quod
                maxime consequatur magni commodi quos? Cum et vel, voluptatibus vero tenetur consequatur, aspernatur
                dignissimos quia mollitia perferendis, doloribus deleniti.
              </p>
            </div>
            <div class="card-footer bg-white pt-0 px-0">
              <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                <div class="post-details mb-3 mb-lg-0">
                  <button class="btn btn-sm btn-primary animate-hover mr-2">
                    <span class="fas fa-arrow-up mr-2 animate-up-2"></span>
                    4
                  </button>
                  <button class="btn btn-sm btn-danger animate-hover">
                    <span class="fas fa-arrow-down mr-2 animate-down-2"></span>
                    1
                  </button>
                </div>
                <div class="post-meta">
                  <button class="btn mr-3 btn-link text-primary">
                    <i class="fas fa-share mr-2"></i>Share
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-5 mb-lg-0">
          <div class="card border-light p-2 p-md-4">
            <div class="card-body py-4 px-0">
              <a href="./single-post-left-sidebar.html">
                <img src="/static/assets/img/blog/image-1.jpg" class="card-img-top" alt="image" />
                <h4 class="my-4">
                  List of public corporations by market capitalization
                </h4>
              </a>
              <p class="card-text mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias tempore
                dignissimos iste fuga quos nesciunt non officia voluptas? Blanditiis error incidunt repellendus vitae
                ducimus quod nihil itaque, molestias laboriosam. Vero.
              </p>
            </div>
            <div class="card-footer bg-white pt-0 px-0">
              <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                <div class="post-details mb-3 mb-lg-0">
                  <button class="btn btn-sm btn-primary animate-hover mr-2">
                    <span class="fas fa-arrow-up mr-2 animate-up-2"></span>
                    4
                  </button>
                  <button class="btn btn-sm btn-danger animate-hover">
                    <span class="fas fa-arrow-down mr-2 animate-down-2"></span>
                    1
                  </button>
                </div>
                <div class="post-meta">
                  <button class="btn mr-3 btn-link text-primary">
                    <i class="fas fa-share mr-2"></i>Share
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--enf of culture section-->
</main>

{% include 'includes/footer.html' %} {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}