{% extends "layouts/base.html" %} {% block title %} Submit a Story {% endblock
%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{%endblock stylesheets %} {% block content %}
<style>
  .section-header {
    padding-bottom: 2.5rem !important;
  }
  .section-lg {
    padding-top: 2.5rem !important;
  }
</style>
<main>
  {% include 'includes/preloader.html' %}
  <!-- Hero -->
  <section class="section section-header bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-8 text-center">
          <h1 class="display-1">Submit a story</h1>
        </div>
      </div>

      <h1 class="display-3">Art Currently Magazine Submission Guidelines</h1>
      <p>
        Art Currently Magazine welcomes unique conversations around art and its
        ability to influence the world with intelligent points of view. We
        publish long-form features, interviews, diaries, studio visits, reviews,
        and opinion pieces on present and experimental discourses surrounding
        the art world; and about those who are shaping it.
      </p>
      <p>
        The New York-based, independent magazine covers trends and news in all
        five boroughs and beyond. We are accepting stories based in the US with
        a prominent focus on the East Coast, but open to international opening
        and events.
      </p>
    </div>
  </section>

  <!-- Section -->
  <section class="section section-lg pt-6">
    <div class="container">
      <div class="col-12">
        <h1 class="display-3">Text Guidelines</h1>
        <p class="lead">
          Topics must be appropriate to our times and pegged towards a relevant
          event, artist, or exhibition.
        </p>
        <ul>
          <li>News items range from 200-500 words.</li>
          <li>
            Interviews range between 600-800 words and must include an
            introduction of 300-600 words plus the interview with the artist in
            a Q &amp; A format.
          </li>
          <li>
            Opinion pieces range between 800-1000 words and must present a
            traditional format: introduction, the body of text, conclusion, or
            call to action.
          </li>
        </ul>
        <p class="lead">
          The text must be submitted in English. Due to the nature of the art
          world, we also accept bilingual text.
        </p>
        <ul>
          <li>
            Authors must include references (if needed) and a bibliography list
            to prove the appropriate research process was undertaken.
          </li>
          <li>
            Authors are responsible for obtaining images and publication permits
            and having the materials ready by the estimated time of publication.
          </li>
          <li>
            Please send the document with the subject line
            <em>“Submission:“Title of your Work_Name of Author.”</em>
          </li>
          <li>
            For any questions regarding editorial, please email<a
              href="mailto:
              contact.artcurrently@gmail.com"
            >
              contact.artcurrently@gmail.com</a
            >
          </li>
        </ul>

        <h1 class="display-3">Text Submission Checklist</h1>
        <ul>
          <li>
            The text follows the appropriate word count required for each case,
            interview, or opinion piece.
          </li>
          <li>
            If the author chose to submit an interview with an artist or art
            professional, the text must include the introduction and complete
            discussion in Q &amp; A format.
          </li>
          <li>
            Authors must send the text in a Word file so editors can convert it
            into Google Drive Docs for editing.
          </li>
        </ul>
        <h1 class="display-3">Image Submission Checklist</h1>
        <ul>
          <li>
            As mentioned above, authors are responsible for obtaining the proper
            image publication permits and credits.
          </li>
          <li>Authors must send images on the day the text is submitted.</li>
          <li>
            Please include in a Word document a list of images and their
            description.
          </li>
          <li>
            Photo files must include the following information: author, title,
            year, medium, dimensions.
          </li>
          <li>File formats are JPEG, JPG, TIFF, or PDF.</li>
          <li>
            Please submit at least five images for text (preferably include a
            headshot of the artist if you are submitting an interview and a
            picture of their most recent work).
          </li>
          <li>
            We only accept photos of high quality: preferably 300 dpi or more.
          </li>
          <li>
            Images must be submitted in digital format in a separate email to
            <a href="mailto:contact.artcurrently@gmail.com"
              >contact.artcurrently@gmail.com</a
            >
            with the subject line
            <em>“Submission: “Title of your Work_Name of Author_Images.”</em>
          </li>
        </ul>
        <!--author agreement modal-->
        <button
          type="button"
          class="btn btn-block btn-primary mb-3"
          data-bs-toggle="modal"
          data-bs-target="#modal-default"
        >
          Authors' Agreement On Approval
        </button>
        <div
          class="modal fade"
          id="modal-default"
          tabindex="-1"
          role="dialog"
          aria-labelledby="modal-default"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="h6 modal-title">Authors' Agreement On Approval</h2>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p>
                  The author agrees that once the material is submitted, the
                  work is the distributive property of Art Currently Magazine
                  and its founder for distribution rights. Upon approval, the
                  author will receive an agreement document, that must be signed
                  and returned to the magazine’s editor.
                </p>
                <p>
                  If you want to contribute to Art Currently Magazine, please
                  submit your work by email to
                  <a href="mailto:contact.artcurrently@gmail.com"
                    >contact.artcurrently@gmail.com</a
                  >
                  with the subject line:
                  <em>“Submission: “Title of your Work_Name of Author.”</em>
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-dark"
                  data-bs-dismiss="modal"
                >
                  <i class="far fa-thumbs-up me-2"></i>Accept
                </button>
                <button
                  type="button"
                  class="btn btn-link text-gray ms-auto"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of section -->
</main>

{% include 'includes/footer.html' %} {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
